@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Utility Classes */
.nowrap {
    white-space: nowrap;
}

/* General Styles  */
html {
    scroll-behavior: smooth;
}
body {
    font: 1.5rem "Nunito", sans-serif;
    min-height: 100vh;
    background-color: #475569;
    background-image: radial-gradient(whitesmoke, #475569);
    display: flex;
    flex-direction: column;
}


header, footer {
    position: sticky;
    background-color: #6f9adf;
    color: whitesmoke;
    text-align: center;
    
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav {
    background-color: #fff;
    padding: 0.5rem;
    border-bottom: 4px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;

}

nav a, nav:visited {
    color: #000;
}

nav a:hover , nav a:focus {
    color: hsla(0, 25%, 55%, 0.687)
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}

/* PROFILE CARD */
.card {
    scroll-margin-top: 8rem;
    width: min(100%, 350px);
    background-color: #cbd6e1;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:target {
    border: 2px solid rebeccapurple;
}

.card figure {
    display: flex;
    flex-flow: column nowrap;
}

.card img {
    border: 5px double #ff0000;
    border-radius: 50%;
}

.card img:not([alt]) {
    border: 10px solid red;
}

.card:nth-child(odd) {
    background-color: papayawhip;
}



.card figcaption {
    font-weight: bolder;
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
}
.card figcaption::after {
    content: "💛";
    display: block;
}

.card p {
    position: relative;
}

.card p::before {
    content: open-quote;
    font-size: 3em;
    position: absolute;
    top: -0.25em;
    left: -0.5em;
}
.card p::before {
    content: close-quote;
    font-size: 3em;
    position: absolute;
    top: -0.25em;
    right: -0.5em;
    
}
    /* SMALL */
    @media screen and (min-width: 576px) {
      main {
        justify-content: center;
        flex-flow: row wrap;
        padding: 1rem;
      }
      .card {
        width: min(100%, 400px)
        
      }
      .card:last-child { order: -1;}

    }
/*     /* MEIDUM */
    @media screen and (min-width: 768px) {
        body {
            background-color: gold;
            background-image: radial-gradient(whitesmoke, gold);
           
        }
        nav {
            display: none;
        }

    } 
/*     /* LARGE */
    @media screen and (min-width: 992px) {
        body {
            background-color: firebrick;
            background-image: radial-gradient(whitesmoke, firebrick);
           
        }

    } 
/*     /* XL */
    @media screen and (min-width: 1200px) {
        body {
            background-color: rebeccapurple;
            background-image: radial-gradient(whitesmoke, rebeccapurple);
           
        }

    } 
/*     /* MOBILE DEVICE LANDSCAPE */
    @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
        body {
            background-color: dodgerblue;
            background-image: radial-gradient(whitesmoke, dodgerblue);
           
        }
        h1, h2 {
            font-size: 1.5rem;
        }

        nav { display: none;}

    } 